<body id="feed">
  <%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% @feed[:data].each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row post-top">
            <div>
              <%= image_tag post[:user][:profile_picture],
                  class: "img-responsive img-circle profile-small" %>&nbsp;
              <%= link_to "#{post[:user][:username]}",
                  feed_path(post[:user][:id]), class: "username-small" %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <a href="#" data-toggle="modal" data-target="#photo-<%= post[:id] %>">
            <%= image_tag post[:images][:standard_resolution][:url], class: "img-responsive" %>
          </a>
        </div>
        <div class="panel-footer">
          <% if post[:likes][:count] > 4 %>
          <p> <%= post[:likes][:count] %> likes</p>
          <% elsif post[:likes][:count] > 0 %>
            <% post[:likes][:data].each do |like| %>
              <%= link_to like[:username], feed_path(like[:id]), class: "username-small" %>
            <% end %>
            like this
          <% end %>

          <p><%= link_to post[:user][:username], feed_path(post[:user][:id]), class: "username-small" %>
             <%= post[:caption][:text] if post[:caption]%></p>

          <div class="comments">
             <% unless post[:comments][:data].empty? %>
               <% post[:comments][:data].each do |comment| %>
                 <p><%= link_to comment[:from][:username], feed_path(comment[:from][:id]), class: "username-small" %>
                    <%= comment[:text] %></p>
               <% end %>
             <% end %>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-1">
              <%= image_tag "heart.png", id: "heart" %>
            </div>
            <div class="col-sm-9" id="comment">
              <input type="text" class="form-control" placeholder="Add a comment...">
            </div>
            <div class="col-sm-2">
              <div class="dots">
                <span>&#x25cb;</span><span>&#x25cb;</span><span>&#x25cb;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div id="photo-<%= post[:id] %>" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title"><%= link_to "#{post[:user][:username]}", feed_path(post[:user][:id]) %></h5>
            </div>
            <div class="modal-body">
              <%= image_tag post[:images][:standard_resolution][:url], class: "img-responsive" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> <!-- end of Modal -->
      <% end %>
    </div>
  </div>

</body>
